<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
<body>

<div id="home">
<b><br><a href="index.php?route=home/main">go to HOME->main</a></br></b>
<b><br><a href="index.php?route=home/guide">go to HOME-guide</a></br></b>
<b><br><a href="index.php?route=home/result">go to HOME->result</a></br></b>
</div>

<div id="account">
    <form method="post">
        <p>Name: <input name="name" type="text" class="field_account" value="" placeholder="name"></p>
        <p>E-mail: <input name="email" type="text" class="field_account" value="" placeholder="email"></p>
        <p>Password: <input name="password" type="password" class="field_account" value="" placeholder="password"></p>

        <button formaction="index.php?route=account/signin">Sign in</button>
        <button formaction="index.php?route=account/signup">Sign up</button>
        <button formaction="index.php?route=account/signout">Sign out</button>
    </form>
</div>

</body>
</html>