<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME->RESULT</title>
    <link rel="stylesheet" href="../../web/css/style.css">
</head>
<body>
<h1>HOME->RESULT</h1>
<b><br><a href="index.php?route=home/main">go to HOME->main</a></br></b>
<form method="post" action="" id="result">
    <p>Age: <input name="age" type="text" class="field_account" value=""
                   placeholder="Add age"></p>
    <p>Phone: <input name="phone" type="text" class="field_account" value=""
                     placeholder="Add phone"></p>
    <p>Info: <input name="info" type="text" class="field_account" value=""
                    placeholder="Add info about yourself"></p>
    <p><input type="submit" value="Save change" id="edit"></p>
</form>
</body>
</html>